<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/css/layui.css">
    <link rel="stylesheet" href="/assets/css/view.css" />
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
    <style>
    </style>
</head>

<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                    <a href="">首页</a>
                    <a><cite>书籍列表</cite></a>
                </span>
                <!-- <h2 class="title">用户列表</h2> -->
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <table class="layui-hide" id="test" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/layui.all.js"></script>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/layuiMethods.js"></script>

    <script type="text/html" id="barDemo">
        {{#  if(d.order_status == 0){ }}
            <a class="layui-btn layui-btn-xs" lay-event="gobook">去发书</a>
        {{#  } }}
        
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="realy">确认归还</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="canel">取消</a>
    </script>
    <script type="text/html" id="order_status">
        {{#  if(d.order_status == 0){ }}
        <span class="layui-btn layui-btn-xs">未发书</span>
        {{#  } }}
        {{#  if(d.order_status == 1){ }}
        <span class="layui-btn layui-btn-xs">已下单</span>
        {{#  } }}
        {{#  if(d.order_status == 2){ }}
        <span class="layui-btn layui-btn-xs">已发送</span>
        {{#  } }}
        {{#  if(d.order_status == 3){ }}
        <span class="layui-btn layui-btn-xs">已签收</span>
        {{#  } }}
        {{#  if(d.order_status == 4){ }}
        <span class="layui-btn layui-btn-xs">已归还</span>
        {{#  } }}
        {{#  if(d.order_status == 5){ }}
        <span class="layui-btn layui-btn-danger layui-btn-xs">已逾期</span>
        {{#  } }}
        {{#  if(d.order_status == 6){ }}
        <span class="layui-btn layui-btn-xs">已取消</span>
        {{#  } }}
    </script>

    <script>
        layui.use('table', function () {
            var table = layui.table;

            table.render({
                elem: '#test'
                    // ,url:'/test/table/demo1.json'
                    ,
                data: {$result},
                defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                    title: '提示',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-tips'
                }],
                title: '订单数据表',
                cols: [
                    [{
                        type: 'checkbox',
                        fixed: 'left'
                    }, {
                        field: 'order_id',
                        title: 'ID',
                        width: 160,
                        fixed: 'left',
                        unresize: true,
                        sort: true
                    }, {
                        field: 'book_name',
                        title: '书名',
                        width: 120
                    }, {
                        field: 'order_user',
                        title: '借阅账号',
                        width: 120
                    }, {
                        field: 'order_status',
                        title: '订单状态',
                        width: 120,
                        templet: '#order_status'
                    }, {
                        field: 'order_connect_name',
                        title: '订单联系人',
                        width: 150
                    }, {
                        field: 'order_strat_time',
                        title: '订单开始时间'
                    }, {
                        field: 'order_end_time',
                        title: '订单结束时间'
                    }, {
                        field: 'create_time',
                        title: '加入时间',
                        
                    }, {
                        fixed: 'right',
                        title: '操作',
                        toolbar: '#barDemo',
                        width: 260
                    }]
                ],
                page: true
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) {
                var data = obj.data;
                //console.log(obj)
                if (obj.event === 'del') {
                    layer.confirm('确认删除？', function (index) {
                        var bookid = data.bookid;
                        var is_del = 1;
                        var options = {
                            bookid: bookid,
                            is_del: is_del
                        }
                        $.ajax({
                            url: "/admin/Book/del_book",
                            data: options,
                            type: "post",
                            headers: {
                                'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8'
                            },
                            success: function (res) {
                                if (res.code == 200) {
                                    layer.alert(res.msg)
                                    obj.del();
                                    layer.close(index);
                                    location.reload();
                                } else {
                                    layer.alert(res.msg)
                                }
                            }
                        })
                    });

                } else if (obj.event === 'edit') {
                    var order_id = data.order_id;
                    window.location.href = "/admin/Order/edit?order_id=" + order_id;
                }else if(obj.event === 'gobook'){
                    var order_id = data.order_id;
                    window.location.href = "/admin/Order/gobook?order_id=" + order_id;
                }
            });
        });
    </script>
</body>

</html>