<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    {include file="header/header_link" /}

</head>
<body>
    <style>
      body{
        background-color: #f3f5f8 !important;
      }
      .register_box{
          width:400px;
          margin: 0 auto;
          margin-top: 10%;
          border-radius: 10px;
          padding: 50px 40px;
          background-color: #fff;
      }

  </style>
          <div class="romana_header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="romana_header_top_left">
                            <span style="color: #fff;">学生借阅平台</span>
                            <a href="#" class="hidden-xs"><i class="icofont icofont-phone"></i>+22 666-888-999</a>
                        </div>
                    </div>
                    <!-- column End -->
                    <!-- column End -->
                    <div class="col-md-2 col-xs-6 col-md-offset-7">
                        <div class="romana_header_top_right hidden-xs">
                            <ul>
                                <li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                <li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                            </ul>
                        </div>
                        <div class="romana_client_btn  romana_client_btn_small hidden-sm hidden-md hidden-lg">
                            <a href="#"><i class="icofont icofont-user-alt-3"></i>登录</a>
                            <div class="romana_client_log_in">
                                <form action="#" class="romana_client_log_in_after">
                                    <input type="text" name="clientEmail" placeholder="Email here">
                                    <input type="text" name="clientPass" placeholder="password">
                                    <input type="submit" value="Login">
                                    <p> or <a href="registration.html">registration</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- column End -->
                </div>
                <!-- row End -->
            </div>
            <!-- container End -->
        </div>
    <form class="register_box" name="login_form">
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 col-form-label">用户名</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" name="username" placeholder="" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-3 col-form-label">密码</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" name="password1" required>
          </div>
        </div>

        <div class="form-group row" style="margin-top: 60px;margin-bottom: 0;">
          <div class="col-sm-12">
            <button onclick="submit_login()" style="background-color: #288feb;height: 46px;" class="btn btn-success col-sm-12">登录</button>
          </div>
        </div>
        <p style="margin: 0;text-align: center;margin-top: 10px;">没有账号去<a href="{:url('Index/registration')}" style="margin-left: 5px;">注册</a></p>
      </form>

</body>
{include file="footer/footer_js" /}
<script>
  $("form").submit(function(event){
    event.preventDefault();
  })
  function submit_login(event){
    var data = {
      username:login_form.username.value,
      password1:login_form.password1.value
    }
    $.ajax({
      url:"index/index/sunbmit_login",
      type:"post",
      data:data,
      success:function(res){
        console.log(res);
        if(res.code == 200){
          layer.msg(res.msg, {icon: 1});
          setTimeout(function(){
            window.location.href = "{:url('Index/index')}"
          },2000)
        }else{
          layer.msg(res.msg, {icon: 5});
        }
      }
    })
  }


</script>
</html>