    <!-- ================================================================
        ***CSS File***
    ================================================================= -->
    <!-- ================= *** Google Font-Poppins *** ======================= -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- ================= *** Animate CSS *** ======================= -->
    <link href="/web_asset/css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Bootstrap CSS *** ===================== -->
    <link href="/web_asset/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Font-awesome CSS *** ================== -->
    <link href="/web_asset/css/hover-min.css" rel="stylesheet" type="text/css">

    <!-- ================= *** icofont CSS *** ======================= -->
    <link href="/web_asset/css/icofont.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Owl Carousel CSS *** ================== -->
    <link href="/web_asset/css/owl.carousel.css" rel="stylesheet" type="text/css">

    <!-- ================= *** Main CSS *** ========================== -->

    <link href="/web_asset/css/custom/style.css" rel="stylesheet" type="text/css">

    <!-- ================= *** My CSS *** ========================== -->
    <link href="/web_asset/css/onself_use_style.css" rel="stylesheet" type="text/css">
    <link href="/web_asset/css/edit_style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/assets/css/layui.css">