<!-- ======================================================
***Js Files***
=========================================================== -->

<!-- ================= Main Js ==================== -->
<script src="/web_asset/js/jquery-3.1.0.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<!-- ================= Bootstrap min Js =========== -->
<script src="/web_asset/js/bootstrap.min.js"></script>

<!-- ================= owl carousel min Js ======== -->
<script src="/web_asset/js/owl.carousel.min.js"></script>

<!-- ================= Active Js ================== -->
<script src="/web_asset/js/active.js"></script>

<script src="/web_asset/layer/layer.js"></script>