<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/css/layui.css">
    <link rel="stylesheet" href="/assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
    <style>
    </style>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">首页</a>
                  <a><cite>用户列表</cite></a>
                </span>
                <!-- <h2 class="title">用户列表</h2> -->
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="form-box">
                        <a href="{:url('User/add')}">
                            <button class="layui-btn layui-btn-blue"><i class="layui-icon">&#xe654;</i>新增</button>
                        </a>

                        <table class="layui-hide" id="test" lay-filter="test"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/layui.all.js"></script>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/layuiMethods.js"></script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-xs" lay-event="recover">恢复</a> 
    </script>
    <script type="text/html" id="book_banner">
      <img src="{{d.book_banner}}" alt="" width="30" height="30">
    </script>
    <script type="text/html" id="book_status">
          已回收
    </script>
    <script>
  layui.use('table', function(){
  var table = layui.table;
  
  table.render({
    elem: '#test'
    // ,url:'/test/table/demo1.json'
    ,data:{$result}
    ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
      title: '提示'
      ,layEvent: 'LAYTABLE_TIPS'
      ,icon: 'layui-icon-tips'
    }]
    ,title: '用户数据表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{field:'bookid', title:'ID', width:80, fixed: 'left', unresize: true, sort: true}
      ,{field:'book_name', title:'书名', width:120}
      ,{field:'author', title:'作者',width:120}
      ,{field:'book_banner', title:'封面', width:120,templet:'#book_banner'}
      ,{field:'book_sale', title:'分类', width:150}
      ,{field:'book_desc', title:'书籍简介'}
      ,{field:'book_recomd', title:'推荐'}
      ,{field:'create_time', title:'加入时间', width:120}
      ,{field:'is_del', title:'状态', width:120,templet:'#book_status'}
      ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]
    ,page: true
  });
  
  //监听行工具事件
  table.on('tool(test)', function(obj){
    var data = obj.data;
    //console.log(obj)
    if(obj.event === 'recover'){
      layer.confirm('确认恢复吗？', function(index){
        var bookid = data.bookid;
        var is_del = 0;
        var options = {bookid:bookid,is_del:is_del}
        $.ajax({
            url:"/admin/Book/del_book",
            data:options,
            type:"post",
            headers : {'Content-Type' : 'application/x-www-form-urlencoded;charset=utf-8'}, 
            success:function(res){
              if(res.code == 200){
                layer.alert(res.msg)
                obj.del();
                layer.close(index);
                location.reload();
              }else{
                layer.alert(res.msg)
              }
            }
        })
      });

    }
  });
});
    </script>
</body>
</html>