<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/css/layui.css">
    <link rel="stylesheet" href="/assets/css/view.css"/>
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                  <a href="">消息列表</a>
                  <a><cite>编辑消息</cite></a>
                </span>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-card">
                <div class="layui-card-body">
                  <form class="layui-form">
                    <input type="hidden" name="id" value="{$result['id']}" />
                    <div class="layui-form-item layui-col-xs6">
                      <label class="layui-form-label">消息标题</label>
                      <div class="layui-input-block">
                        <input type="text" name="msg_title" required lay-verify="required" placeholder="请输入消息标题" autocomplete="off" class="layui-input" value="{$result['msg_title']}">
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-xs6">
                      <label class="layui-form-label">消息作者</label>
                      <div class="layui-input-block">
                        <input type="text" name="author" required lay-verify="required" placeholder="请输入消息作者" autocomplete="off" class="layui-input" value="{$result['author']}">
                      </div>
                    </div>

                    <div class="layui-form-item layui-form-text layui-col-xs6">
                      <label class="layui-form-label">消息内容</label></label>
                      <div class="layui-input-block">
                        <textarea id="lay_edit" class="layui-textarea" lay-verify="msg_content" name="msg_content" th:text="${model.text}">{$result['msg_content']}</textarea>
                      </div>
                    </div>
                    <div class="layui-form-item">
                      <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                        <!-- <button type="reset" class="layui-btn layui-btn-primary">重置</button> -->
                      </div>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/layui.all.js"></script>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/layuiMethods.js"></script>
    <script>

      layui.use(['layedit', 'form','upload','layer'], function(){
        var layedit = layui.layedit;
        var form = layui.form;
        var upload = layui.upload
        layedit.set({
              uploadImage: {
                  url: '/admin/News/upload',
                  type: 'post'
              }
          });
          var index = layedit.build('lay_edit',{
              height: 700
          });

        form.verify({
            //content富文本域中的lay-verify值
            msg_content: function(value) {
                return layedit.sync(index);
            }
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
          let options =data.field;
          $.ajax({
            url:"/admin/Message/edit_msg",
            data:options,
            type:"post",
            headers : {'Content-Type' : 'application/x-www-form-urlencoded;charset=utf-8'}, 
            success:function(res){
              if(res.code == 200){
                ajaxSucess(res.msg)
              }else{
                ajaxFail(res.msg)
              }
            }
          })
          return false;
        });
      });
        
    </script>
</body>
</html>